

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}
.header{
    background-repeat: no-repeat;
    width: 100%; 
    margin-bottom: -230px;
}

.header img{
    width:100%;
    height: 100VH;
    filter: blur(2px);
}

.header .container{
    text-align: center;
    align-items: center;
    transform: translateY(-600PX);
    color: white;
    font-size: 50px;
}

.header .container h1{
    padding-bottom: 10px;
    font-weight: 1000;
}

.header .container p{
    font-size:20px;
    margin-bottom: 40px;
}

a.button{
    padding: 12px;
    background-color: tomato;
    text-decoration: none;
    color: aliceblue;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 100;
}

/*donation-section*/

section.donation{
    height: 60vh;
}

div.text h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

div.text p{
    text-align: center;
    width: 100%;
    letter-spacing: 1px;
    line-height: 25px;   
    color: gray;
    font-size: 20px;
}

div.box-container{
    display: flex;
    align-items: center;
    margin-left: 100px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 60px;
}

div.box-container .box{
    margin-left: 55px;
    padding: 40px;
    background-color: aliceblue;
    color: grey;
    font-weight: 200;
}

#active.box{
    border: 2px solid tomato;
    border-radius: 5px;
    background-color: #ffeeee;
}

section.donation p{
    text-align: center;
    color: gray;
    margin-top: 40px;
    margin-bottom: 10px;
}

section.donation hr{
    width: 50%;
    margin-left: 300px;
}

section.donation a.button{
    text-align: center;
    margin-left: 570px;
    width: 9%;
    display: block;
    margin-top: 30px;
}

/*Donation plan section*/

section.donation-plan {
    text-align: center;
    letter-spacing: 2px;
}

section.donation-plan h1{
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 20px;
}

section.donation-plan p{
    font-size: 16px;
    color: gray;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

div.container3{
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    column-gap: 20px;
}

div.container3 .box1{
    padding: 10px;
    background-color: #edf5f6;
}

 span.material-symbols-outlined{
    margin-left: -200px;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 25px;
}


div.box1 h2{
    text-align: left;
    margin-left: 25px;
}

div.box1 p{
    text-align: left;
    margin-left: 25px;
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 15px;
}

/*Contribution Section*/

section.contribution{
    display: flex;
    margin-top: 150px;
    overflow:hidden;
    margin-left: 10%;
    margin-right: 10%;
    height: 60vh;
}

section.contribution .left-container{
    width: 40%;
}

section.contribution .right-container{
    width: 40%;
}

section.contribution .right-container img.image{
    width: 100%;
    height: 400px;
    margin-left: 150px;
}

section.contribution .left-container h2{
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
}

section.contribution .left-container p{
    letter-spacing: 1px;
    color: grey;
    line-height: 30px;
}

section.contribution .left-container a.button{
    display: block;
    width: 50%;
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}

/*help contribution*/

#help.contribution{
    display: flex;
    margin-top: 150px;
    overflow:hidden;
    margin-left: 10%;
    margin-right: 10%;
    height: 60vh;
    margin-top: 100px;
}

#help.contribution .right-container{
    width: 50%;
    margin-left: -200px;
    margin-right: 300px;
}

#help.contribution .right-container img.image{
    height: 460px;
}

/*subscription-section*/

section.subscription{
    margin-top: 100px;
    text-align: center;
    width: 100%;
}

section.subscription h1{
    font-size: 50px;
    margin-bottom: 20px;
}

section.subscription p{
    font-size: 15px;
    letter-spacing: 3px;
    color: gray;
    margin-bottom: 30px;
}

.form-box{
    padding: 70px;
    background-color: #fff4d6;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 100px;
}

.form-box input{
    padding: 11px;
    width: 30%;
    background-color: #d9d9d9;
    border: none;
    font-weight:800;
    color: gray;
    font-size: 15px;
}

.form-box button{
    padding: 11px;
    width: 20%;
    margin-left: -5px;
    border: none;
    background-color: #ff5959;
    color: #edf5f6;
    font-weight: 100;
}

/*footer-section*/

div.footer{
    text-align: center;
    padding: 50px;
    background-color: black;
    color: #edf5f6;
}

div.footer h1{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #ff5959;
    font-weight: bold;
    margin-bottom: 20px;
}

div.footer p{
    font-size: 11px;
    color: #bfc1c8;
}